#Django#
*.log
*.pot
*.pyc
__pycache__
/db.sqlite3
/media/
/postgres/
/postgres_data/

#Mac funtimes#
.DS_Store

#Project Nginx Dir#
./.tmp/
/.tmp/

#Project virtualisation docs#
.env.dev
#.env

#Backup files#
*.bak

#PyCharm#
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/
.idea/encodings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/knowledge_hub.iml

#Python#
*.py[cod]
*$py.class

#Distribution#
/packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

#Installer logs#
pip-log.txt
pip-delete-this-directory.txt

#Environments#
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#pyenv#
.python-version

#mypy#
.mypy_cache/